body {
	padding: 0px;
	margin: 0px;
}


a{
	text-decoration: blin;
}

input {
	outline: none;
	padding: 0;
	margin: 0;
	-webkit-appearance:none;
}


/*头部样式*/

header {
	width: 100%;
	height: 60px;
	border-bottom: 2px solid #F7F4F4;
}

.gazhiAppMain {
	width: 100%;
	height: auto;
	padding: 0 20px;
	background-color: white;
	box-sizing: border-box;
}

